<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mosaic AWS POC</title>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css"
    />
</head>
<body>
<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://staging.less-comsysto-reply.de/">
                <img src="https://staging.less-comsysto-reply.de/static/media/less-logo.dced5639.svg" width="112" height="28"/>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">
                    Test
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container" style="min-height: 500px">
    <fragment src="https://0876bpwl68.execute-api.eu-central-1.amazonaws.com/Prod/content-one"></fragment>
    <fragment src="https://0876bpwl68.execute-api.eu-central-1.amazonaws.com/Prod/content-two"></fragment>
</div>

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            Mosaic AWS POC
        </p>
    </div>
</footer>
</body>
</html>
